<div class="container col-11 col-md-9" id="form-container">
    <div class="row align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h2>Faça o login para continuar</h2>
            <form action="/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="digite seu email">
                     <label for="email" class="form-label">Digite seu email</label>
                </div>
                 <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="digite a sua senha">
                     <label for="password" class="form-label">Digite a sua senha</label>
                </div>
                <input type="submit" class="btn btn-primary" value="Entrar">
            </form>
        </div>
        <div class="col-md-6 order-md-1">
                <div class="col-12">
                    <img src="/img/sign.jpg" alt="Entrar no sistema" class="img-fluid">
                </div>
                <div class="col-12" id="link-container">
                    <p>Não tem uma conta? <a href="/register">clique aqui?</a></p>
                </div>
        </div>
    </div>
</div>